#container {
    width: 80vw;
    margin: auto;
}

h1 {
    color: rgb(15, 15, 15);
    text-align: center;
    font-size: 5vw;
}

h2 {
    font-size: 2vw;
    color: rgb(48, 48, 48);
}

p {
    font-size: 3vw;
    color: rgb(48, 48, 48);
}

#form .input {
    height: 25px;
    width: calc(100% - 15px);
    padding: 5px;
    margin-left: 1px;
    background: transparent;
    font-size: 1.5vw;
    border: 2px solid rgb(0, 0, 0);
}

#div .result {
    background-color: rgb(200, 200, 200);
}
