body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

h1 {
    color: blue;
    text-align: center;
}

input {
    margin-left: 10vw;
}

input.text {
    width: 80vw;
    border: 1px solid #9c9a95;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

input.button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}
